In [1]:
import pandas as pd
import numpy as np

In [3]:
delay = pd.read_csv('C:/550/flight_delay/2018.csv')

In [6]:
delay.head().transpose()

,0,1,2,3,4
FL_DATE,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01
OP_CARRIER,UA,UA,UA,UA,UA
OP_CARRIER_FL_NUM,2429,2427,2426,2425,2424
ORIGIN,EWR,LAS,SNA,RSW,ORD
DEST,DEN,SFO,DEN,ORD,ALB
CRS_DEP_TIME,1517,1115,1335,1546,630
DEP_TIME,1512,1107,1330,1552,650
DEP_DELAY,-5,-8,-5,6,20
TAXI_OUT,15,11,15,19,13
WHEELS_OFF,1527,1118,1345,1611,703
WHEELS_ON,1712,1223,1631,1748,926
TAXI_IN,10,7,5,6,10
CRS_ARR_TIME,1745,1254,1649,1756,922
ARR_TIME,1722,1230,1636,1754,936
ARR_DELAY,-23,-24,-13,-2,14
CANCELLED,0,0,0,0,0
CANCELLATION_CODE,NaN,NaN,NaN,NaN,NaN
DIVERTED,0,0,0,0,0
CRS_ELAPSED_TIME,268,99,134,190,112
ACTUAL_ELAPSED_TIME,250,83,126,182,106
AIR_TIME,225,65,106,157,83
DISTANCE,1605,414,846,1120,723
CARRIER_DELAY,NaN,NaN,NaN,NaN,NaN
WEATHER_DELAY,NaN,NaN,NaN,NaN,NaN
NAS_DELAY,NaN,NaN,NaN,NaN,NaN
SECURITY_DELAY,NaN,NaN,NaN,NaN,NaN
LATE_AIRCRAFT_DELAY,NaN,NaN,NaN,NaN,NaN
Unnamed: 27,NaN,NaN,NaN,NaN,NaN

In [8]:
delay.CARRIER_DELAY.unique()

array([  nan,  121.,    0., ..., 1767., 1308., 1404.])

In [9]:
delay.CANCELLATION_CODE.unique()

array([nan, 'B', 'A', 'C', 'D'], dtype=object)

In [19]:
delay_res = delay[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME','DEP_TIME','DEP_DELAY',
                   'TAXI_OUT','WHEELS_OFF','WHEELS_ON','TAXI_IN','CRS_ARR_TIME','ARR_TIME','ARR_DELAY','CANCELLED','CRS_ELAPSED_TIME',
                   'ACTUAL_ELAPSED_TIME','AIR_TIME','DISTANCE']]
delay_res['TOTAL_DELAY'] = delay_res['ACTUAL_ELAPSED_TIME'] - delay_res['CRS_ELAPSED_TIME']
delay_res.isna().sum()
delay_res.to_csv('C:/550/flight_delay/delay_res.csv', index=False)

<ipython-input-19-713559d9e129>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delay_res['TOTAL_DELAY'] = delay_res['ACTUAL_ELAPSED_TIME'] - delay_res['CRS_ELAPSED_TIME']

In [18]:
delay_res[delay_res['TOTAL_DELAY'].isna()]

# if cancelled, flight delay is null

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,TOTAL_DELAY
178,2018-01-01,UA,2034,IAH,MFE,1440,NaN,NaN,NaN,NaN,...,NaN,1601,NaN,NaN,1.0,81.0,NaN,NaN,316.0,NaN
875,2018-01-01,UA,864,LAS,SFO,1744,NaN,NaN,NaN,NaN,...,NaN,1926,NaN,NaN,1.0,102.0,NaN,NaN,414.0,NaN
1168,2018-01-01,UA,555,SFO,SAN,729,718.0,-11.0,17.0,735.0,...,3.0,903,1127.0,NaN,0.0,94.0,NaN,NaN,447.0,NaN
1244,2018-01-01,UA,488,MFE,IAH,1726,NaN,NaN,NaN,NaN,...,NaN,1844,NaN,NaN,1.0,78.0,NaN,NaN,316.0,NaN
1584,2018-01-01,AS,5,DCA,LAX,910,NaN,NaN,NaN,NaN,...,NaN,1230,NaN,NaN,1.0,380.0,NaN,NaN,2311.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7212757,2018-12-31,AA,147,LAX,EGE,840,839.0,-1.0,NaN,NaN,...,NaN,1205,NaN,NaN,1.0,145.0,NaN,NaN,748.0,NaN
7212759,2018-12-31,AA,149,EGE,LAX,1444,NaN,NaN,NaN,NaN,...,NaN,1606,NaN,NaN,1.0,142.0,NaN,NaN,748.0,NaN
7212772,2018-12-31,AA,165,DFW,EGE,845,836.0,-9.0,10.0,846.0,...,NaN,1019,NaN,NaN,1.0,154.0,NaN,NaN,721.0,NaN
7212773,2018-12-31,AA,165,EGE,DFW,1059,NaN,NaN,NaN,NaN,...,NaN,1410,NaN,NaN,1.0,131.0,NaN,NaN,721.0,NaN
7213263,2018-12-31,AA,642,BOS,CLT,1309,1302.0,-7.0,17.0,1319.0,...,7.0,1540,1928.0,NaN,0.0,151.0,NaN,NaN,728.0,NaN

In [ ]:
# functional dependencies
fl_date, op_carrier, op_carrier_fl_number -> origin, dest, crs_dep_time, dep_time, dep_delay, taxi_out, wheels_off, wheels_on, taxi_in, crs_arr_time, arr_time, arr_delay, cancelled, crs_elapsed_time, actual_elapsed_time, airtime, distance, total_delay
crs_dep_time, dep_time -> dep_delay
crs_arr_time, arr_time -> arr_delay
crs_elapsed_time, actual_elapsed_time -> total_delay

In [20]:
delay_res.head().transpose()

,0,1,2,3,4
FL_DATE,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01
OP_CARRIER,UA,UA,UA,UA,UA
OP_CARRIER_FL_NUM,2429,2427,2426,2425,2424
ORIGIN,EWR,LAS,SNA,RSW,ORD
DEST,DEN,SFO,DEN,ORD,ALB
CRS_DEP_TIME,1517,1115,1335,1546,630
DEP_TIME,1512,1107,1330,1552,650
DEP_DELAY,-5,-8,-5,6,20
TAXI_OUT,15,11,15,19,13
WHEELS_OFF,1527,1118,1345,1611,703
WHEELS_ON,1712,1223,1631,1748,926
TAXI_IN,10,7,5,6,10
CRS_ARR_TIME,1745,1254,1649,1756,922
ARR_TIME,1722,1230,1636,1754,936
ARR_DELAY,-23,-24,-13,-2,14
CANCELLED,0,0,0,0,0
CRS_ELAPSED_TIME,268,99,134,190,112
ACTUAL_ELAPSED_TIME,250,83,126,182,106
AIR_TIME,225,65,106,157,83
DISTANCE,1605,414,846,1120,723
TOTAL_DELAY,-18,-16,-8,-8,-6

In [ ]:
# ddl

CREATE TABLE FlightDelay AS (
    FL_DATE DATE,
    OP_CARRIER VARCHAR(30),
    OP_CARRIER_FL_NUM INT,
    ORIGIN VARCHAR(30),
    DEST VARCHAR(30),
    CRS_DEP_TIME INT,
    DEP_TIME INT,
    DEP_DELAY INT,
    TAXI_OUT INT,
    WHEELS_OFF INT,
    WHEELS_ON INT,
    TAXI_IN INT,
    CRS_ARR_TIME INT,
    ARR_TIME INT,
    ARR_DELAY INT,
    CANCELLED INT,
    CRS_ELAPSED_TIME INT,
    ACTUAL_ELAPSED_TIME INT,
    AIR_TIME INT,
    DISTANCE INT,
    TOTAL_DELAY INT,
    PRIMARY KEY (FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM)
)